* {
  box-sizing: border-box;
  --light-green: #55ddb9;
  --mid-green-one: #20bc7d;
  --mid-green-two: #26c893;
  --dark-green: #1fb67c;
  --diamond-size: 100px;
  --border-size: 25px;
}
body {
  margin: 0;
  padding: 0;
  background: #233637;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diamond {
  position: relative;
  aspect-ratio: 1/1;
  width: var(--diamond-size);
  transform: rotate(45deg);
}
span {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-top: var(--border-size) solid var(--dark-green);
  border-right: var(--border-size) solid var(--mid-green-one);
  border-bottom: var(--border-size) solid var(--mid-green-two);
  border-left: var(--border-size) solid var(--light-green);
}
span:nth-child(1) {
  border-top: var(--border-size) solid transparent;
  border-left: var(--border-size) solid transparent;
}
span:nth-child(2) {
  left: 50%;
}
span:nth-child(3) {
  top: 50%;
}
span:nth-child(4) {
  top: 50%;
  left: 50%;
}
@media (min-width: 380px) {
  * {
    --diamond-size: 150px;
    --border-size: 38px;
  }
}
@media (min-width: 720px) {
  * {
    --diamond-size: 200px;
    --border-size: 50px;
  }
}
