body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
}
.logo,
.g-border,
.circle {
  aspect-ratio: 1 / 1;
}
.logo {
  width: 100%;
  max-width: 500px;
  background-color: #e31837;
  border-radius: 50%;
  position: relative;
}
.logo > div {
  position: absolute;
  background-color: white;
}
.g-border,
.l-line-1 {
  top: 50%;
  left: 50%;
}
div.g-border {
  width: 80%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-radius: 50%;
  border: 11px solid white;
  border-right-color: transparent;
  background-color: transparent;
}
.g-tail {
  aspect-ratio: 15 / 2;
  width: 30%;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
}
.circle {
  width: 10%;
  border-radius: 50%;
  top: 24%;
  left: 26%;
}
.l-line-1 {
  aspect-ratio: 2 / 25;
  width: 4%;
  transform: translate(-50%, -50%);
}
.l-line-2 {
  aspect-ratio: 7/2;
  width: 14%;
  top: 74%;
  left: 48%;
}
@media (min-width: 380px) {
  div.g-border {
    border-width: 16px;
  }
}
@media (min-width: 720px) {
  div.g-border {
    border-width: 20px;
  }
}
