body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.panda {
  width: 80%;
  max-width: 300px;
  background-color: white;
  border: 12px solid black;
  position: relative;
}
.panda div {
  position: absolute;
  background-color: black;
}
.eye {
  aspect-ratio: 115 / 58;
  width: 38.3%;
  top: 45%;
  border-radius: 0 0 115px 115px;
  overflow: hidden;
}
.eye.left {
  left: 3%;
  transform: rotate(30deg);
}
.eye.right {
  right: 3%;
  transform: rotate(-30deg);
}
.eye-ball {
  width: 26%;
  border: 12px solid white;
  top: -50%;
}
.eye.left > .eye-ball {
  left: 32%;
}
.eye.right > .eye-ball {
  right: 32%;
}
.nose {
  width: 5%;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}
.mouth {
  aspect-ratio: 5 / 1;
  width: 16%;
  border-radius: 10px;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
}
.ear {
  width: 43%;
  top: -10%;
  z-index: -1;
}
.ear.left {
  left: -11.6%;
}
.ear.right {
  right: -11.6%;
}
