body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #69506d;
}
.watermelon {
  aspect-ratio: 2/1;
  width: 100%;
  max-width: 320px;
  background-color: #fd6c64;
  border: 20px solid #5af5b6;
  border-top: none;
  border-radius: 0px 0px 200px 200px;
}
span {
  aspect-ratio: 1/1;
  width: 3.125%;
  background-color: #262626;
  border-radius: 50%;
  display: inline-block;
  margin: 6.25%;
}
span:nth-child(7),
span:nth-child(12),
span:nth-child(13),
span:nth-child(14) {
  opacity: 0;
}
