body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #9ed2ec;
  --dark-grey: #2b303a;
  --brown: #83282a;
  --red: #e63c33;
}
div {
  position: relative;
}
.snowman {
  aspect-ratio: 17/25;
  width: 100%;
}
.circle {
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.head {
  height: 24%;
  background-color: #fff;
  top: 20%;
  left: 32.35294117647059%;
}
.eye {
  width: 12.5%;
  background: var(--dark-grey);
}
.eye.left {
  top: 33.33333333333333%;
  left: 29.166666666666668%;
}
.eye.right {
  top: 20.833333333333336%;
  left: 62.5%;
}
.nose {
  aspect-ratio: 1 / 1;
  width: 25%;
  background-color: #f7880f;
  top: 29.166666666666668%;
  left: 40.833333333333336%;
  clip-path: polygon(50% 100%, 30% 0, 70% 0);
}
.hat {
  width: 100%;
  height: 10%;
  background-color: var(--dark-grey);
  border-radius: 4px;
  bottom: 41.66666666666667%;
  left: 12.5%;
  transform: rotate(20deg);
}
.hat-top {
  aspect-ratio: 9 / 5;
  width: 75%;
  background-color: var(--dark-grey);
  bottom: 400%;
  left: 12.5%;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.body {
  width: 58.82352941176471%;
  background-color: #fff;
  top: 18%;
  left: 20.588235294117645%;
}
.buttons {
  top: 30%;
  left: 45%;
  width: 100%;
  aspect-ratio: 40 / 17;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttons > div {
  width: 7.5%;
  background-color: var(--dark-grey);
}
.hand {
  aspect-ratio: 20/1;
  width: 50%;
  background-color: var(--brown);
}
.hand > div {
  width: 30%;
  height: 100%;
  bottom: 200%;
  background-color: var(--brown);
}
.hand.left {
  bottom: 24%;
  right: 36%;
  transform: rotate(25deg);
}
.hand.left > div {
  left: 5%;
  transform: rotate(45deg);
}
.hand.right {
  bottom: 24%;
  left: 85%;
  transform: rotate(-25deg);
}
.hand.right > div {
  left: 65%;
  transform: rotate(-45deg);
}
.scarf,
.scarf3 {
  width: 10.294117647058822%;
  background-color: var(--red);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.scarf {
  height: 10%;
  left: 57.35294117647059%;
  bottom: 18%;
  transform: rotate(-15deg);
}
.scarf2 {
  width: 35.294117647058826%;
  height: 7%;
  background-color: var(--red);
  bottom: 34%;
  left: 31.470588235294116%;
  border-radius: 10px;
}
.scarf3 {
  height: 16%;
  bottom: 37%;
  left: 53.529411764705884%;
  transform: rotate(-10deg);
}
