* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --fur: #a6becf;
}
body {
  background: #25a9fc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 10 / 7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container div {
  position: absolute;
}
.round {
  border-radius: 50%;
}
.head {
  aspect-ratio: 20 / 19;
  width: 50%;
  background-color: var(--fur);
  border-radius: 50%;
}
.ear {
  aspect-ratio: 36/37;
  width: 30%;
  background-color: var(--fur);
  top: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ear-left {
  left: 30%;
  transform: translate(-50%, -50%);
}
.ear-right {
  right: 30%;
  transform: translate(50%, -50%);
}
.inner-ear {
  width: 80%;
  height: 80%;
  background-color: #819caf;
}
.eye {
  aspect-ratio: 18/19;
  width: 30%;
  background-color: #fff;
  z-index: 3;
  top: 25%;
}
.eye-left {
  left: 21%;
}
.eye-right {
  right: 21%;
}
.pupil {
  aspect-ratio: 25 / 29;
  width: 27%;
  background-color: #27354a;
  top: 35%;
  left: 36%;
}
.nose {
  aspect-ratio: 5 / 8;
  width: 25%;
  background-color: #be845f;
  z-index: 4;
  left: 37%;
  top: 45%;
  border-radius: 50px;
}
.hair {
  aspect-ratio: 20 / 19;
  width: 20%;
  background-color: var(--fur);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.hair-left {
  top: -8%;
  left: 30%;
}
.hair-right {
  top: -4%;
  left: 48%;
}
