* {
  box-sizing: border-box;
  --red: #ff3838;
  --light-grey: #eee;
  --mid-grey: #ddd;
  --dark-grey: #ccc;
  --border-inline-size: 85px;
  --border-margin-size: 50px;
  --heart-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 0;
  height: 0;
  border-top: var(--border-margin-size) solid var(--light-grey);
  border-right: var(--border-inline-size) solid var(--mid-grey);
  border-bottom: var(--border-margin-size) solid var(--dark-grey);
  border-left: var(--border-inline-size) solid var(--dark-grey);
}
.heart {
  aspect-ratio: 1/1;
  width: var(--heart-size);
  background-color: var(--red);
  transform: translate(-50%, -50%) rotate(45deg);
  animation: heartbeat 1.4s linear infinite;
}
.heart:before,
.heart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.heart::before {
  background-color: var(--red);
  transform: translateY(-50%);
}
.heart::after {
  background-color: var(--red);
  transform: translateX(-50%);
}
@keyframes heartbeat {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  30% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  70% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}
@media (min-width: 380px) {
  * {
    --border-inline-size: 128px;
    --border-margin-size: 75px;
    --heart-size: 24px;
  }
}
@media (min-width: 720px) {
  * {
    --border-inline-size: 170px;
    --border-margin-size: 100px;
    --heart-size: 32px;
  }
}
