* {
  margin: 0;
  padding: 0;
  --white: #faffce;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #45444e;
}
.container {
  position: relative;
  width: 450px;
  height: 400px;
  background-color: #3d98b7;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.container div {
  position: absolute;
}
.head {
  width: 240px;
  height: 300px;
  background-color: var(--white);
  border-radius: 90px 90px 0 0;
}
.ear {
  width: 75px;
  height: 75px;
  background-color: #d7e2e8;
  border: 15px solid var(--white);
  border-radius: 50%;
  top: 25%;
}
.ear.left {
  left: 15%;
}
.ear.right {
  right: 15%;
}
.eye {
  width: 24px;
  height: 24px;
  background-color: #2a3144;
  z-index: 3;
  border-radius: 50%;
  top: 25%;
}
.eye.left {
  left: 25%;
}
.eye.right {
  right: 25%;
}
.muzzle {
  width: 72px;
  height: 72px;
  background-color: #d1e1e2;
  z-index: 4;
  border-radius: 45%;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.muzzle > div {
  background-color: #22293a;
}
.nose {
  width: 32px;
  height: 20px;
  border-radius: 40%;
  top: 15%;
}
.bottom-nose {
  width: 7px;
  height: 30px;
}
.mouth {
  width: 36px;
  height: 7px;
  top: 65%;
  border-radius: 10px;
}
