* {
  margin: 0;
  padding: 0;
  --white: #faffce;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #45444e;
}
.container {
  position: relative;
  width: 100%;
  max-width: 450px;
  aspect-ratio: 9 / 8;
  background-color: #3d98b7;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.container div {
  position: absolute;
}
.head {
  aspect-ratio: 4/5;
  width: 53%;
  background-color: var(--white);
  border-radius: 90px 90px 0 0;
}
.ear {
  aspect-ratio: 1/1;
  width: 16%;
  background-color: #d7e2e8;
  border: 15px solid var(--white);
  border-radius: 50%;
  top: 25%;
}
.ear.left {
  left: 15%;
}
.ear.right {
  right: 15%;
}
.eye {
  aspect-ratio: 1/1;
  width: 10%;
  background-color: #2a3144;
  z-index: 3;
  border-radius: 50%;
  top: 25%;
}
.eye.left {
  left: 25%;
}
.eye.right {
  right: 25%;
}
.muzzle {
  aspect-ratio: 1/1;
  width: 30%;
  background-color: #d1e1e2;
  z-index: 4;
  border-radius: 45%;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.muzzle > div {
  background-color: #22293a;
}
.nose {
  aspect-ratio: 16 / 10;
  width: 44%;
  border-radius: 40%;
  top: 15%;
}
.bottom-nose {
  aspect-ratio: 7 / 30;
  width: 9.72%;
}
.mouth {
  aspect-ratio: 36 / 7;
  width: 50%;
  top: 65%;
  border-radius: 10px;
}
