body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecd590;
  --green: #5aa668;
  --clock-brown: #47321a;
  --red: #9d374f;
  --white: #e9e6c9;
}
.shelf {
  width: 100%;
  max-width: 520px;
  aspect-ratio: 26/1;
  background-color: #5a3f21;
  position: relative;
}
.shelf div {
  position: absolute;
}
.clock {
  aspect-ratio: 1/1;
  width: 21.153846153846153%;
  background-color: var(--white);
  border: 5.5px solid var(--green);
  border-radius: 50%;
  left: 6%;
  top: -675%; /*height of shelf * 6.75*/
}
.knot {
  aspect-ratio: 1/1;
  width: 7.6923076923076925%;
  background-color: var(--red);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.hand {
  width: 4px;
  background-color: var(--clock-brown);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  transform-origin: bottom;
}
.hour-hand {
  height: 23.076923076923077%;
  transform: translate(-50%, -100%) rotate(45deg);
}
.min-hand {
  height: 30.76923076923077%;
  width: 3px;
  transform: translate(-50%, -100%) rotate(160deg);
}
.second-hand {
  height: 36.15384615384615%;
  width: 2px;
  transform: translate(-50%, -100%) rotate(-40deg);
}
.clock-alarm {
  aspect-ratio: 2/1;
  width: 46.15384615384615%;
  background-color: var(--green);
  top: -11%;
  border-radius: 90px 90px 0 0;
}
.clock-alarm::before,
.book::before,
.book::after {
  content: "";
  position: absolute;
}
.clock-alarm::before {
  aspect-ratio: 2/1;
  width: 25%;
  background-color: var(--red);
  top: -30%;
  left: 38.333333333333336%;
  border-radius: 90px 90px 0 0;
}
.clock-alarm.left {
  left: -28%;
  transform: rotate(-50deg);
}
.clock-alarm.right {
  right: -28.5%;
  transform: rotate(50deg);
}
.clock-foot {
  aspect-ratio: 6/25;
  height: 38.46153846153847%;
  background-color: var(--clock-brown);
  bottom: -19.230769230769234%;
  z-index: -1;
}
.clock-foot.left {
  left: 20%;
  transform: rotate(30deg);
}
.clock-foot.right {
  right: 20%;
  transform: rotate(-30deg);
}
.book {
  width: 7.6923076923076925%;
  height: 850%;
  background-color: var(--red);
  left: 40.38461538461539%;
  top: -850%;
}
.book::before {
  width: 100%;
  height: 20px;
  background-color: var(--white);
  top: 20px;
  left: 0;
}
.book::after {
  width: 50%;
  height: 100%;
  background-color: black;
  opacity: 0.15;
  top: 0;
  right: 0;
}
.book-2 {
  height: 975%;
  top: -975%;
  left: 48.07692307692308%;
  background-color: #e86830;
}
.book-3 {
  height: 900%;
  top: -900%;
  left: 55.769230769230774%;
  background-color: var(--green);
}
.cactus {
  aspect-ratio: 5/9;
  width: 19.230769230769234%;
  left: 73.07692307692307%;
  top: -900%;
}
.pot {
  width: 100%;
  height: 50%;
  bottom: 0;
}
.pot-bottom {
  width: 100%;
  height: 70%;
  background-color: #ce4f17;
  bottom: 0;
}
.pot-top {
  width: 140%;
  height: 30%;
  background-color: #a03d12;
  top: 0;
  left: -20%;
}
.plant {
  background-color: var(--green);
  border-radius: 50px 50px 0 0;
  width: 45%;
  bottom: 50%;
}
.plant.left {
  height: 35%;
  left: 5%;
}
.plant.right {
  height: 50%;
  right: 5%;
}
@media (min-width: 320px) {
  .clock {
    border-width: 7px;
  }
}
@media (min-width: 380px) {
  .clock {
    border-width: 8px;
  }
}
@media (min-width: 720px) {
  .clock {
    border-width: 10px;
  }
}
