* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --background: #222729;
  --brown: #6d4b27;
  --light-brown: #9e784d;
  --yellow: #f0ae1b;
}
body {
  background: var(--background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  aspect-ratio: 6/5;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -10;
}
.container div,
.head::before,
.eye-container::before,
.eye::before,
.foot::before,
.foot::after,
.wings::before,
.wings::after {
  position: absolute;
  content: "";
}
.head::before,
.round,
.eye-container::before,
.eye::before,
.wings::before,
.wings::after,
.foot::before,
.foot::after {
  border-radius: 50%;
}
.head {
  aspect-ratio: 23/13;
  width: 38.333333333333336%;
  background-color: var(--brown);
}
.head::before {
  aspect-ratio: 25/23;
  width: 108.69565217391303%;
  background-color: var(--background);
  bottom: 38.46153846153847%;
  left: -4.3478260869565215%;
}
.eye-container,
.eye-container::before,
.eye,
.eye::before {
  aspect-ratio: 1/1;
}
.eye-container {
  width: 20%;
  background: var(--brown);
  top: 16%;
}
.eye-container.left {
  left: 30.833333333333336%;
}
.eye-container.right {
  right: 30.833333333333336%;
}
.eye-container::before {
  width: 91.66666666666666%;
  background-color: #fff;
  bottom: 5.833333333333333%;
}
.eye-container.left::before {
  right: -4.166666666666666%;
}
.eye-container.right::before {
  left: -4.166666666666666%;
}
.eye {
  width: 62.5%;
  background-color: #000;
  border: 10px solid var(--yellow);
  top: 16.666666666666664%;
}
.eye::before {
  background-color: #fff;
  width: 26.666666666666668%;
}
.eye.left {
  left: 25%;
}
.eye.right {
  right: 25%;
}
.forehead {
  aspect-ratio: 4/1;
  width: 33.33333333333333%;
  background-color: var(--brown);
  left: 33.33333333333333%;
  top: 15%;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.beak {
  aspect-ratio: 3/4;
  width: 7.5%;
  background-color: var(--yellow);
  top: 32%;
  clip-path: polygon(0 0, 100% 0, 60% 100%, 40% 100%);
}
.wings {
  aspect-ratio: 5/6;
  width: 41.66666666666667%;
  background-color: var(--brown);
  top: 30%;
  z-index: -1;
}
.wings::before,
.wings::after {
  left: 50%;
  transform: translateX(-50%);
}
.wings::before {
  aspect-ratio: 20/31;
  width: 80%;
  background-color: var(--light-brown);
}
.wings::after {
  aspect-ratio: 15/23;
  width: 50%;
  background-color: #fff;
}
.foot {
  width: 2.5%;
  height: 6.666666666666667%;
  top: 86%;
}
.foot,
.foot::before,
.foot::after {
  background-color: var(--yellow);
  border: 1px solid var(--light-brown);
}
.foot.left {
  left: 36.666666666666664%;
}
.foot.right {
  right: 36.666666666666664%;
}
.foot::before,
.foot::after {
  width: 100%;
  height: 100%;
}
.foot.left::before {
  left: 100%;
}
.foot.left::after {
  left: 200%;
}
.foot.right::before {
  right: 100%;
}
.foot.right::after {
  right: 200%;
}
.branch {
  aspect-ratio: 200 / 7;
  width: 66.66666666666666%;
  background: #fff;
  bottom: 5%;
  border-radius: 10px;
}
