body {
  height: 100vh;
  background: #f7f7f7;
}
body,
.logo,
.square {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo,
.square,
.circle {
  aspect-ratio: 1/1;
}
.logo {
  height: 200px;
  border-radius: 60px;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.square {
  width: 140px;
  background-color: transparent;
  border: 12px solid white;
  border-radius: 45px;
  position: relative;
}
.circle {
  border-radius: 50%;
}
.circle-big {
  height: 60px;
  background-color: transparent;
  border: 12px solid white;
}
.circle-small {
  height: 15px;
  background-color: white;
  position: absolute;
  top: 15px;
  right: 15px;
}
