* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --skin: #edd9f0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vampire {
  aspect-ratio: 12 / 13;
  width: 600px;
  background-color: #47526d;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.vampire div {
  position: absolute;
}
.head {
  aspect-ratio: 1 / 1;
  width: 75%;
  background-color: var(--skin);
  border-radius: 50%;
  top: 10%;
  overflow: hidden;
  z-index: 3;
}
.hair {
  aspect-ratio: 10 / 3;
  width: 100%;
  height: 30%;
  background-color: #333;
}
.hair::before,
.hair::after {
  content: "";
  position: absolute;
  aspect-ratio: 1/1;
  width: 56%;
  background-color: var(--skin);
  border-radius: 50%;
  top: 50%;
}
.hair::before {
  left: 1%;
}
.hair::after {
  right: 1%;
}
.eye,
.eye::before,
.eye::after {
  position: absolute;
  content: "";
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.eye {
  width: 25.555555555555554%;
  background-color: #fff;
  top: 30%;
}
.eye.left {
  left: 18%;
}
.eye.right {
  right: 18%;
}
.eye::before {
  width: 60.86956521739131%;
  background-color: red;
  left: 30%;
  top: 20%;
}
.eye::after {
  width: 50.43478260869565%;
  background-color: #000;
  left: 38%;
  top: 20%;
}
.eye .brow {
  aspect-ratio: 14/5;
  width: 121.73913043478262%;
  background-color: var(--skin);
  top: -5%;
  left: -10%;
  z-index: 2;
}
.eye.left .brow {
  transform: rotate(15deg);
}
.eye.right .brow {
  transform: rotate(-15deg);
}
.lower-face {
  aspect-ratio: 2/1;
  width: 9.777777777777779%;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.lower-face::before,
.lower-face::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.lower-face::before {
  background-color: #333;
}
.lower-face::after {
  background-color: var(--skin);
}
.nose::before,
.nose::after {
  aspect-ratio: 1/1;
}
.nose::before {
  width: 100%;
  bottom: 0;
  background: linear-gradient(var(--skin) 50%, #333);
}
.nose::after {
  width: 96%;
  bottom: 10%;
  left: 2%;
}
.mouth {
  width: 50%;
  top: 70%;
}
.mouth::before {
  aspect-ratio: 225 / 44;
  width: 100%;
  top: 0;
}
.mouth::after {
  width: 100%;
  height: 50%;
  top: 2%;
}
.tooth {
  aspect-ratio: 4 / 5;
  width: 8%;
  background-color: #fff;
  top: 71%;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.tooth.left {
  left: 35%;
  transform: rotate(-5deg);
}
.tooth.right {
  right: 35%;
  transform: rotate(5deg);
}
.collar {
  background-color: #000;
  height: 40%;
  width: 100%;
  top: 65%;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
}
.cape {
  width: 60%;
  height: 30%;
  background-color: #fff;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.bow {
  height: 23.333333333333332%;
  width: 16%;
  background-color: #000;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
div.button {
  position: relative;
  aspect-ratio: 1/1;
  width: 15%;
  background-color: red;
  border-radius: 50%;
}
